<h1>Showing Desired Post</h1>

<p>
<b>Author:</b>
<%= @post.author %>
</p>

<p>
<b>Email:</b>
<%= @post.email %>
</p>

<p>
<b>General Content:</b>
<%= @post.general_content %>
</p>

<p>
<b>Category:</b>
<%= @post.category %>
</p>

<p>
<b>Title:</b>
<%= @post.title %>
</p>

<p>
<b>Description:</b>
<%= @post.description %>
</p>

<p>
<b>Posted Date:</b>
<%= @post.created_at.to_date %>
</p>


<%= link_to 'Edit', edit_blog_path(@student) %> |
<%= link_to 'Back to Index', blogs_path %>
