
<div class="post_title">
<%= @post.title %>
</div>

<div class="author_information">
  <div><b>Author:</b>
  <%= @post.author %></div>
  <div><b>Email:</b>
  <%= @post.email %></div>
  <div><b>Posted Date:</b>
  <%= @post.created_at.to_date %></div>
</div>

<div class="post_information">
  <div><b>Category:</b>
  <%= @post.category %></div>
  <div><b>General Content:</b>
  <%= @post.general_content %></div>
</div>

<div class="post_description">
  <%= @post.description %>
</div>


<%= render 'Comments/comment_form' %>


<%= link_to 'Edit', edit_blog_path(@student) %> |
<%= link_to 'Back to Index', blogs_path %>
